<!-- Hero -->
<section class="hero">
  <img src="assets/img/servicios/banner_s.jpg" alt="Servicios" />
  <h1>Servicios y Proveedores</h1>
</section>

<!-- Servicios ofrecidos -->
<section class="block">
  <h2 class="section-title">Servicios Ofrecidos</h2>
  <div class="grid">
      <app-servicios-card
      *ngFor="let servicio of servicios"
      [title]="servicio.title"
      [img]="servicio.img">
      
      </app-servicios-card>
  </div>
</section>

<!-- Proveedores -->
<section class="block">
  <h2 class="section-title">Proveedores</h2>
  <div class="grid">
    <app-proveedores-card
    *ngFor="let proveedor of proveedores"
    [name]="proveedor.name"
    [link]="proveedor.link"
    ></app-proveedores-card>
  </div>
</section>
