:host{display:block}
  .sidebar{
    --AzulOscuro:#094c6d;
    --VerdeOscuro:#096d0a;
    --Verde:#7ed957;
    --VeredePastel:#8ceb8c;
    --Celeste:#98ffe6;
    --VerdeClaro:#b8ffb8;
    --Blanco:#ffffff;
    --Negro:#000000;
    --bg:#50e658; 
    --panel:#DDEBFF; 
    --mint:#9cffa4; 
    --mint-border:#6BEFC2;
    --mint-active:#7EF7CC; 
    --line:#2e8a96; 
    
    --bluedark:#02013f;
    position: fixed;
  top: 0;
  left: 0;
  width: 180px;
  height: 97%;
  background: var(--VeredePastel);
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: 16px 12px;
  gap: 16px;
  z-index: 1000;
  border-radius: 1px 60px 60px 1px;
  border: 1px solid var(--bluedark);
}
.top{
    display:grid; 
    gap:12px; 
    justify-items:center
}
.avatar img{
    width:110px;
    height:80px;
    background:var(--panel);
    border-radius:6px;
    display:grid;
    place-items:center;
    font-weight:600;
    border-radius: 100px;
}
.contain_name{
    border-radius: 50px;
    text-align: center;
    padding: 12px 10px;
    background-color: var(--VerdeOscuro);
}
.name{
    color:#fff;
    font-size:1.20em;
    margin:0
}

.pill{
    background:var(--mint);
    border:2px solid var(--mint-border);
    color:var(--bluedark);
    text-decoration:none;
    padding:10px 18px;
    border-radius:999px;
    font-weight:700;
    display:inline-block

}
.menu{border-top:1px solid var(--line);
    border-bottom:1px solid var(--line)
}
.item{
    display:flex;
    align-items:center;
    gap:12px;
    padding:14px 12px;
    background:var(--VerdeClaro);
    color:var(--AzulOscuro);
    text-decoration:none;
    border-bottom:1px solid var(--line);
    font-weight:600;
    max-height: 2.5rem;
    border-radius: 100px;
    margin-bottom: 10px;
    border: 2px var(--AzulOscuro) solid;
    text-align: center;
}
.item.active{
    background:var(--AzulOscuro);
    color: var(--VerdeClaro);
    text-align: center;
}


.grow{
    flex:1
}
.chev{
    transition:transform .2s ease
}
.chev.open{
    transform:rotate(180deg)
}
.submenu{
    display:grid;
    background:#bfffea;
    border-bottom:1px solid var(--line)
}
.subitem{
    padding:10px 20px; 
    text-decoration:none; 
    color:#0e2a2a; 
    font-weight:600; 
    display:block
}

.logout{
    justify-self:center;
    width:180px;
    padding:10px 14px;
    border-radius:999px;
    border:0;
    background:var(--VerdeOscuro);
    color:var(--Blanco);
    font-size: 16px;
    text-align: center;
    display:flex;
    align-items:center;
    gap:8px;
    cursor:pointer
}
.logout-icon svg{
    width:20px;
    height:20px;
    fill:var(--Blanco)
}

option:hover{
    background:var(--bluedark);
    color:var(--mint);
}

@media (max-width:960px){ .sidebar{width:200px}.avatar{width:140px} }