.news-card{
  background:#fff; border-radius:12px; padding:12px; border:1px solid #e8eef7;
  box-shadow: 0 1px 3px rgba(0,0,0,.04);
  max-height: 25vh;
  display: grid;grid-template-rows: 4fr 1fr;gap: 2vh;
  border-color: #0a80fb;border-width: 0.3vh;
  align-items: center ;
  max-width:45vh ;
  transition: all 0.3s;
}
.img-wrap{ width:90%; height:100%; border-radius:1vh; overflow:hidden; display: block;}
.img-wrap img{ width:100%; height:100%; object-fit:cover; display:block; }
.body{ display:flex; flex-direction:column; gap:6px; font-size:.92rem;}
strong{ color:#283d55; }
span{ color:#4a5b6d; line-height:1.25;     font-family: Arial, Helvetica, sans-serif;
}
strong{
    font-family: Arial, Helvetica, sans-serif;

}
.news-card:hover{
    border-color: #0a80fb;  
    box-shadow: 0 0 20px rgba(10, 128, 251, 0.7); /* resplandor azul */
    transform: translateY(-4px) scale(1.02);     
}