html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
*{
    --AzulOscuro:#094c6d;
    --VerdeOscuro:#096d0a;
    --Verde:#7ed957;
    --VeredePastel:#8ceb8c;
    --Celeste:#98ffe6;
    --VerdeClaro:#b8ffb8;
    --Blanco:#ffffff;
    --Negro:#000000;
    --CelesteOscuro:#486ebe;
    --CelesteClaro:#ccf0e7;
    --VerdeFuerte:#66e968;
    --CelesteFuerte: #30bde7;
    --Rojo: #eb1414;
    --Naranja: #df5018;
}